certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==36.0.0
docopt==0.6.2
idna==3.4
lxml==4.9.2
multidict==6.0.4
nsx-policy-python-sdk @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/nsx-policy-python-sdk/nsx_policy_python_sdk-4.0.1.0.0-py2.py3-none-any.whl
nsx-python-sdk @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/nsx-python-sdk/nsx_python_sdk-4.0.1.0.0-py2.py3-none-any.whl
nsx-vmc-aws-integration-python-sdk @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/nsx-vmc-aws-integration-python-sdk/nsx_vmc_aws_integration_python_sdk-4.0.1.0.0-py2.py3-none-any.whl
nsx-vmc-policy-python-sdk @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/nsx-vmc-policy-python-sdk/nsx_vmc_policy_python_sdk-4.0.1.0.0-py2.py3-none-any.whl
prompt-toolkit==3.0.38
pycparser==2.21
pyflakes==3.0.1
Pygments==2.14.0
pyOpenSSL==22.0.0
python-decouple==3.8
pyvim==3.0.3
pyvmomi==7.0.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
urllib3==1.26.15
vapi-client-bindings @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/vapi-client-bindings/vapi_client_bindings-4.0.0-py2.py3-none-any.whl
vapi-common-client @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/vapi-common-client/vapi_common_client-2.37.0-py2.py3-none-any.whl
vapi-runtime @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/vapi-runtime/vapi_runtime-2.37.0-py2.py3-none-any.whl
vcrpy==4.2.1
vmc-client-bindings @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/vmc-client-bindings/vmc_client_bindings-1.61.0-py2.py3-none-any.whl
vmc-draas-client-bindings @ file://localhost//tmp/pip-req-build-ffeucnmj/lib/vmc-draas-client-bindings/vmc_draas_client_bindings-1.20.0-py2.py3-none-any.whl
vSphere-Automation-SDK==1.80.0
wcwidth==0.2.6
wrapt==1.15.0
yarl==1.8.2
